@media (min-width: 768px){
.header{
    font-size: 50px;
}
#inputField, #add{
    
} 

/* todo list container */
.note-list{
    display: grid;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    height: 90vh;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul{
    list-style: none;
    background-color: antiquewhite;
    width: 75%;
    margin: auto;
    text-align: start;
}
.home-notes{
    
    grid-column: 1/3;
    grid-row: 1;
    

}
.home-calendar{
    
    
}

.home-timer{

}

/* Undecided
.nav-bar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 56px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
    */
}