@media (min-width: 500px){
*{
    margin: 0;
    padding: 0;
}    
.header{
    font-size: 50px;
}
#inputField, #add{
    
} 

/* todo list container */
.note-list{
    
    display: grid;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    height: 100vh;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.inp-btn{
    display: inline;
    width: 50%;
    justify-content: center;
    
    
}

.inp-btn button{
    display: inline;
    border-radius: 15px;
    border-style: none;
    width: 55px;
    height: 35px;   
    
    
    
    
     
}
.inp-btn input{
    outline: none;
    border-radius: 1000px;
    font-size: 20px;
    height: 30px;
    width: 75%;
    
    
}

ul{
    display: flex;           
    flex-direction: column;  
    list-style: none;
    width: 90%;
    margin: auto;
    font-size: 1.2rem;
            

   
   

    
}
li{
    display: flex;
    justify-content: space-between;
    
    border: 1px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 5px;
    
    
}

.item-container{
    
    
    
}

.delete-btn{
    
}
.delete-btn img{
    
  
}
.home-notes{
    grid-column: 1/3;
    grid-row: 1;
    
    
    

}
.home-calendar{
    
    
}

.home-timer{

}


}