@media (min-width: 500px){
*{  
    margin: 0;
    padding: 0;
    font-size: 12px;
    
}    
.header{
   font-size: 3rem;
}


.note-list{
    
    display: grid;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    height: 100vh;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.note-list h1{
   transform: translateY(-150px);
   font-size: 3rem;
}
.inp-btn{
    display: inline;
    width: 50%;
    justify-content: center;    
}

.inp-btn button{
    display: inline;
    border-radius: 15px;
    border-style: none;
    width: 55px;
    height: 35px;        
}
.inp-btn input{ 
    width: 100%;
    max-width: 400px;  
    padding: 16px 12px;
    border-radius: 1000px;
    font-size: 1.5rem;
    height: 30px;
    width: 75%;   
    
}

ul{
    display: flex;           
    flex-direction: column;  
    list-style: none;
    padding: 15px;
    width: 80%;
    margin: 0;
    position: sticky;
    right: 50%;
    transform: translateX(10%);
     
}
li{
    display: flex;
    justify-content: space-between;    
    border: 1px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
    padding: 10px;  
    margin-bottom: 10px;  
    font-size: 1.5rem; 
}

.item-container{
    
    
    
}

.delete-btn{
    
    border-radius: 15px;
    background: none;
    border-style: none;
    width: 55px;
}
.delete-btn :hover{
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(110, 110, 110);
    border-style: none;
    width: 25px;
    height: 20px;
    transition: ease-in(200ms);
}
.delete-btn img{
    
  
}
.home-notes{
    grid-column: 1/3;
    grid-row: 1;
    
    
    

}
.home-calendar{
    
    
}

.home-timer{

}


}